.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 214, 87, 0.7);
    padding: 20px 20px;
    border-bottom: 2px solid #ddd;
}

.company-name {
    font-size: 30px;
    font-weight: bold;
    color: #CCFFFF;
    margin: 0;
}

.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #CCFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
    background-color: #74c4ea;
    border-radius: 25px;
    color: black;
}